<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eduhome - Educational HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="~/assets/apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/et-line-icon.css">
    <link rel="stylesheet" href="~/assets/css/reset.css">
    <link rel="stylesheet" href="~/assets/css/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <script src="~/assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- Header Area Start -->
    <header class="top">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="header-top-left">
                            <p>HAVE ANY QUESTION ?  +880 5698  598  6587</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="header-top-right text-right">
                            <ul>
                                <li><a asp-controller="Account" asp-action="login" >Login</a></li>
                                <li><a asp-controller="Account" asp-action="logout">Logout</a></li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-area header-sticky fixed">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        @await Component.InvokeAsync("HeaderLogo")
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="content-wrapper one">
                            <!-- Main Menu Start -->
                            <div class="main-menu one text-right">
                                <nav>
                                    <ul>
                                        <li>
                                            <a asp-controller="Home" asp-action="Index">Home</a>                                            
                                        </li>
                                        <li><a asp-controller="About" asp-action="Index" >About</a></li>
                                        <li>
                                            <a asp-controller="Course" asp-action="Index">courses</a>
                                            
                                        </li>
                                        <li>
                                            <a asp-controller="Event" asp-action="Index" >event</a>
                                            
                                        </li>
                                        <li>
                                            <a asp-controller="Teacher" asp-action="Index" >teacher</a>
                                            
                                        </li>
                                        <li>
                                            <a asp-controller="Blog" asp-action="Index">blog</a>
                                            
                                        </li>
                                        <li><a asp-controller="Contact" asp-action="Index" >Contact</a></li>
                                        
                                    </ul>
                                </nav>
                            </div>
                            <div class="mobile-menu hidden-lg hidden-md one"></div>
                            <!-- Main Menu End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    
        <div>
        @RenderBody()
        </div>

    <!-- Footer Start -->
    <footer class="footer-area">
        <div class="main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        @await Component.InvokeAsync("FooterLeftSide")
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        @await Component.InvokeAsync("Information")
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        @await Component.InvokeAsync("UseFullLink")
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        @await Component.InvokeAsync("GetInnTouch")
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Copyright © <a href="#" target="_blank">HasTech</a> 2017. All Right Reserved By Hastech.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- Footer End -->
      <script src="~/assets/js/course.js"></script>
       <script src="~/assets/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <script src="~/assets/js/jquery.meanmenu.js"></script>
        <script src="~/assets/js/jquery.magnific-popup.js"></script>
        <script src="~/assets/js/ajax-mail.js"></script>
        <script src="~/assets/js/owl.carousel.min.js"></script>
        <script src="~/assets/js/jquery.mb.YTPlayer.js"></script>
        <script src="~/assets/js/jquery.nicescroll.min.js"></script>
        <script src="~/assets/js/plugins.js"></script>
        <script src="~/assets/js/main.js"></script>
    </body>

    
<!-- Mirrored from demo.devitems.com/eduhome/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 21 Jun 2020 19:44:03 GMT -->
</html>
