@using EduHomeProject.Areas.Admin.Models.Event;
@model CreateEventModelView
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> EduHomeEdit /</span> Course Tables <span> /Create </span></h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Course Tables</h5>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form method="post" asp-action="Create" enctype="multipart/form-data">
                        <div>
                            <label asp-for="Title" class="form-label">Title</label>
                            <input asp-for="Title"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Title"
                                   aria-describedby="defaultFormControlHelp" />
                            <span class="text-danger" asp-validation-for="Title"></span>

                        </div>
                        <div>
                            <label asp-for="StartTime" class="form-label">StartTime</label>
                            <input asp-for="StartTime"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="StartTime"
                                   aria-describedby="defaultFormControlHelp" />
                            <span class="text-danger" asp-validation-for="StartTime"></span>
                        </div>
                        <div>
                            <label asp-for="EndTime" class="form-label">EndTime</label>
                            <input asp-for="EndTime"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="EndTime"
                                   aria-describedby="defaultFormControlHelp" />
                            <span class="text-danger" asp-validation-for="EndTime"></span>
                        </div>
                        <div>
                            <label asp-for="Duration" class="form-label">Duration</label>
                            <input asp-for="Duration"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Duration"
                                   aria-describedby="defaultFormControlHelp" />
                            <span class="text-danger" asp-validation-for="Duration"></span>

                        </div>

                        <div>
                            <label asp-for="Location" class="form-label">Location</label>
                            <input asp-for="Location"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Location"
                                   aria-describedby="defaultFormControlHelp" />
                            <span class="text-danger" asp-validation-for="Location"></span>

                        </div>
                        <div>
                            <label asp-for="Content" class="form-label">Content</label>
                            <input asp-for="Content"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Content"
                                   aria-describedby="defaultFormControlHelp" />
                            <span class="text-danger" asp-validation-for="Content"></span>

                        </div>
                        
                        <div>
                            <label asp-for="Image" class="form-label">Image</label>
                            <input asp-for="Image"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Image"
                                   aria-describedby="defaultFormControlHelp" />
                            <span class="text-danger" asp-validation-for="Image"></span>

                        </div>
                        <div>
                            <label asp-for="CategoryId" class="form-label">Categories</label>
                            <select asp-for="CategoryId"
                                    asp-items="@Model?.CategoryList"
                                    class="form-control"
                                    id="defaultFormControlInput"
                                    aria-describedby="defaultFormControlHelp"></select>
                            <span class="text-danger" asp-validation-for="CategoryId"></span>

                        </div>
                       

                        <button type="submit" class="btn btn-success mt-5 "> Create  </button>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
