@model List<Blog>
<div class="single-blog-widget mb-50">
    <h3>latest post</h3>
    @foreach (var blog in Model)
    {
         <div class="single-post mb-30  row">
        <div class="single-post-img col-md-6 ">
            <a href="blog-details.html">
                <img src="~/admin/assets/img/blog/@blog.ImageUrl" alt="post">
                <div class="blog-hover">
                    <i class="fa fa-link"></i>
                </div>
            </a>
        </div>
        <div class="single-post-content col-md-6 ">
            <h4><a href="blog-details.html">@blog.Title</a></h4>
            <p>By Alex  /  @blog.CreatedDate</p>
        </div>
       </div>
    }    
    
</div>