@model EditTeacherSosialViewModel
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> EduHomeEdit /</span> Slider Tables <span> /Edit </span></h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Default</h5>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <img src="~/admin/assets/img/sosiallogo/@Model.ImageUrl" style="width:150px;height:150px;" />
                    <form method="post" asp-action="Edit" enctype="multipart/form-data">
                        <div>
                            <label asp-for="MediaLink" class="form-label">MediaLink</label>
                            <input asp-for="MediaLink"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="MediaLink"
                                   aria-describedby="defaultFormControlHelp" />
                            <span class="text-danger" asp-validation-for="MediaLink"></span>

                        </div>                        
                        <div>
                            <label asp-for="image" class="form-label">image</label>
                            <input asp-for="image"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="image"
                                   aria-describedby="defaultFormControlHelp" />
                            <span class="text-danger" asp-validation-for="image"></span>

                        </div>
                        

                        <button type="submit" class="btn btn-success mt-5 "> Edit  </button>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
