@model LeaveMessageModelView
<div class="col-md-7 col-sm-7 col-xs-12">
    <div class="reply-area">
        <h3>LEAVE A message</h3>
        <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
        <form id="contact-form" asp-action="SendMessage"  method="post">
            <div class="row">
                <div class="col-md-12">
                    <p>Name</p>
                    <input  asp-for="Name"   id="name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <p>Email</p>
                    <input asp-for="Email"  id="email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="col-md-12">
                    <p>Subject</p>
                    <input asp-for="Subject" id="subject">
                    <span asp-validation-for="Subject" class="text-danger"></span>
                    <p>Massage</p>
                    <textarea  asp-for="Message"  id="message" cols="15" rows="10"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
            </div>
            <button  class="btn btn-success" type="submit"  data-text="send"><span>send message</span></button>
            
        </form>
    </div>
</div>
