@model Information
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> EduHomeEdit /</span> FooterInformation Tables <span> /Create </span></h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <h5 class="card-header">Default</h5>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <form method="post" asp-action="Create" enctype="multipart/form-data">
                        <div>
                            <label asp-for="Name" class="form-label">Name</label>
                            <input asp-for="Name"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Name"
                                   aria-describedby="defaultFormControlHelp" />
                            <span class="text-danger" asp-validation-for="Name"></span>

                        </div>
                        <div>
                            <label asp-for="Link" class="form-label">Link</label>
                            <input asp-for="Link"
                                   class="form-control"
                                   id="defaultFormControlInput"
                                   placeholder="Link"
                                   aria-describedby="defaultFormControlHelp" />
                            <span class="text-danger" asp-validation-for="Link"></span>
                        </div>                       
                        <button type="submit" class="btn btn-success mt-5 "> Create  </button>
                    </form>

                </div>
            </div>
        </div>

    </div>
</div>
